
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// BootstrapVue
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.navbar-laravel {
  z-index: 1;
}
body {
	font-family: 'Comfortaa', cursive;
}
.VueCarousel-navigation-button {
	color: #e16729 !important;
}
.pagination {
	justify-content: center !important;
	font-size: 20px !important;
}
.pagination .page-link {
	border-radius: 0px !important;
	background-color: transparent !important;
	color: #e16729 !important;
}
.pagination .page-link:hover {
	color: #fff !important;
	background-color: #e16729 !important;
}
.pagination .page-item.active .page-link {
	color: #fff !important;
	background-color: #e16729 !important;
	border-color: #e16729 !important;
}
#favorite-button:hover {
	filter: brightness(3);
}
#main-section {
	background-color: black;
	margin-left: 60px;
	min-height: 100vh;
	margin-right: 370px;
}
#left-sidebar {
    width:60px;
}
#left-sidebar:hover{
    width:230px;
}
#bottom-left-sidebar {
	display: none;
}
#header-cart-icon {
	display:none;
}
.left-sidebar-title {
    display: none;
}
#left-sidebar:hover .left-sidebar-title{
    display: inline;
}
.left-sidebar-nav:hover {
	background-color: #e16729;
}
.left-sidebar-nav:hover .left-sidebar-img {
	filter: brightness(10);
}
.header-menu-link:hover {
	border-bottom: 3px solid #e16729;
}
@media only screen and (max-width: 992px) {
	#right-sidebar {
		display:none;
	}
	#main-section {
		margin-right: 0px;
	}
	#header-cart-icon {
		display:inline;
	}
	#header-social-icons {
		display:none;
	}
	#header-phone-number {
		display:none;
	}
}
@media only screen and (max-width: 768px) {
	.VueCarousel-pagination {
		display: none;
	}
	#bottom-left-sidebar {
		display: block;
	}
	#main-section {
		margin-left: 0px;
	}
	#left-sidebar {
	    display:none;
	}
	#logo {
		max-width:100px;
	}
}
@media only screen and (max-width: 576px) {
	#right-sidebar {
		height: calc(100vh - 120px) !important;
	}
}
// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic');

