
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// BootstrapVue
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vue-sidebar-menu/dist/vue-sidebar-menu.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  z-index: 1;
}

// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic");

